# 1. Preparing the Data

## 1.1. Loading Libraries

In [ ]:
import pandas as pd
import datetime

## 1.2. Combining the Source Tables

In [159]:
print('> Reading raw data:')
movies = pd.read_csv('./data/movies.csv')
metadata = pd.read_csv('./data/metadata.csv')
keywords = pd.read_csv('./data/keywords.csv')
print("metadata; records: "+str(metadata.shape[0])+", fields: "+str(metadata.shape[1]))
print("keywords; records: "+str(keywords.shape[0])+", fields: "+str(keywords.shape[1]))
print("movies; records: "+str(movies.shape[0])+", fields: "+str(movies.shape[1]))

print("")
print('> Removing duplicate rows from each table:')
movies.drop_duplicates(subset='name',keep=False,inplace=True)
metadata.drop_duplicates(subset='title',keep=False,inplace=True)
keywords.drop_duplicates(subset='id',keep=False,inplace=True)
print('> After the removal, we end up with the following number of rows for each table:')
print("metadata; records: "+str(metadata.shape[0])+", fields: "+str(metadata.shape[1]))
print("keywords; records: "+str(keywords.shape[0])+", fields: "+str(keywords.shape[1]))
print("movies; records: "+str(movies.shape[0])+", fields: "+str(movies.shape[1]))

print("")
print('> Combining metadata and keywords tables using "id" column that is common in both tables.')
metadata['id'] = metadata['id'].apply(lambda x: int(x))
metadata_keywords = metadata.merge(keywords,how='inner')
print('metadata + keywords --> shape: '+str(metadata_keywords.shape[0])+", fields: "+str(metadata_keywords.shape[1]))

print("")
print('> Combining movies and previously combined metadata+keywords table using movie titles')
df = movies.merge(metadata_keywords,how='inner',left_on='name',right_on='original_title')
print('df = movies + metadata + keywords --> shape: '+str(df.shape[0])+", fields: "+str(df.shape[1]))

> Reading raw data:
metadata; records: 45466, fields: 11
keywords; records: 46419, fields: 2
movies; records: 4638, fields: 18

> Removing duplicate rows from each table:
> After the removal, we end up with the following number of rows for each table:
metadata; records: 39943, fields: 11
keywords; records: 44447, fields: 2
movies; records: 4570, fields: 18

> Combining metadata and keywords tables using "id" column that is common in both tables.
metadata + keywords --> shape: 39089, fields: 12

> Combining movies and previously combined metadata+keywords table using movie titles
df = movies + metadata + keywords --> shape: 3524, fields: 30

###### The last table, "df" is the combined data from three sources and thus will be used in throughout the project. We will still manipulate the data in terms of preprocessing and feature engineering, but we do not expect any further reduction in number of rows. Still, it can happen due to corrupt data issues.

### 1.3. Transforming Features to their Correct Types

By observing the data, we see that following columns need not any initial transformation:
* genre
* company
* budget
* country
* director
* overview
* tagline

And the following features had to change due to:
* released: this is a date column with dd.mm.yyyy format. For the sake of simplicity, we are only interested in the year the movies are released. Therefore we apply a transformation to extract year information from this column and write it to *year_released* column.

Of course, all of the categorical features will be converted to continuous (or, at least discrete) fields before modeling stage, but for now, we are just interested in the integrity of the data.

In [160]:
df['year_released'] = df.released.apply(lambda x: x[:-6][-4:])
df[df.year_released.isin(['','1','2'])] = 0
df['year_released'] = df.year_released.astype(int)
df.year_released.replace(0,int(df.year_released.mean()), inplace=True)

In [171]:
df.nunique()

budget                          302
company                        1038
country                          30
director                       1596
genre                            16
gross                          3510
name                           3512
rating                            9
released                       1772
runtime                         116
score                            72
star                           1317
votes                          3463
writer                         2295
year                             32
isprofit                          2
profitability_ratio            3510
profitability_ratio_bucket      168
adult                             2
id                             3516
imdb_id                        3516
original_title                 3512
overview                       3515
popularity                     3516
tagline                        3138
title                          3516
genres_edited                   907
spoken_languages_edited         353
production_countries_edited     261
keywords_edited                3280
year_released                    32
dtype: int64

In [161]:
df.to_csv('data/raw_training_data.csv')