# 1. Data Exploration

## 1.1. Importing Libraries & Reading Data

In [1]:
import pandas as pd
import itertools as it
import scipy.stats as sp

from scipy.stats import chi2_contingency
from scipy.stats import chi2

import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('data/raw_training_data.csv')

In [3]:
columns = ["genre", "company", "country", "director", "rating", "released", "isprofit"]

Our data has the following columns that we can use to conduct the chi-square test on:
* Genre
* Company
* Country
* Director
* Rating
* Released
* Isprofit    
<p>
> We want to find out whether two categorical attributes are independent or dependent by using the chi-square test. We do this by getting all combinations of length two from the list above and conducting the chi-square test on each of the categorical pairs.
<br><br>
> After writing some general formulas, we will conduct the test on all 21 combinations.
</p>

## 1.2 Chi-square Test

In [7]:

# Get all combinations of columns array of length 2, C(7, 2) = 21 combinations
comb = it.combinations(columns, 2) 

for i in list(comb): 
    # Contingency Table
    table = pd.crosstab(df[i[0]], df[i[1]])
    display(table)
    
    # Observed Values
    Observed_Values = table.values
    print("Observed Values")
    display(Observed_Values)
    
    # Calculate Chi-Squared test
    # Returns of scipy.state.chi2_contigency()
    # chi2: The test statistic
    # p: The p-value of the test
    # dof: Degrees of freedom
    # expected: The expected frequencies, based on the marginal sums of the table
    
    chi2_test_statistic, p, dof, expected = sp.chi2_contingency(table)
    print("chi2_test_statistic, p, dof, expected")
    display(chi2_test_statistic, p, dof, expected)
    
    # interpret test statistic
    
    # Test Statistic >= Critical Value: reject null hypotheses, dependent (Ha)
    # Test Statistic < Critical Value: fail to reject null hypotheses, independent (Ho)
    # chi2.ppf(q, df, loc=0, scale=1) inverset CDF
    
    prob = 0.95 # significant value = 1 - 0.95 = 0.05
    critical = chi2.ppf(prob, dof)
    print("critical = %.3f, chi2_test_statistic = %.3f" % (critical, chi2_test_statistic))
    
    if chi2_test_statistic >= critical:
        print("Dependent (reject H0)\n")
    else:
        print("Independent (fail to reject H0)\n")
        
    # interpret p-value
    # p-value <= alpha: reject null hypothesis, dependent (Ha)
    # p-value: > alpha: fail to reject null hypothesis, independent (Ho)
    alpha = 1.0 - prob
    print("significance = %.3f, p = %.3f" % (alpha, p))
    if p <= alpha:
        print("Dependent (reject H0)")
    else: 
        print("Independent (fail to reject H0)")

company,Castle Rock Entertainment,Columbia Pictures,Columbia Pictures Corporation,Dimension Films,DreamWorks,Fox 2000 Pictures,Fox Searchlight Pictures,Hollywood Pictures,Metro-Goldwyn-Mayer (MGM),Miramax,...,Other,Paramount Pictures,Screen Gems,Summit Entertainment,Touchstone Pictures,TriStar Pictures,Twentieth Century Fox Film Corporation,Universal Pictures,Walt Disney Pictures,Warner Bros.
genre,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,9,0,0,0,0,0,0,0,0,0
Action,6,28,36,6,10,3,1,7,11,3,...,348,57,8,11,16,8,50,58,16,79
Adventure,2,5,7,1,4,7,3,2,3,2,...,98,10,1,6,5,0,15,11,16,15
Animation,1,10,1,0,3,4,0,0,0,0,...,98,9,0,0,3,0,7,5,14,12
Biography,0,6,8,0,3,3,6,3,1,1,...,127,1,0,0,6,2,1,17,3,4
Comedy,18,19,30,12,21,18,16,12,26,21,...,556,54,8,5,28,21,37,76,19,42
Crime,4,6,7,2,2,1,1,2,4,8,...,156,15,4,1,2,5,3,11,0,17
Drama,6,9,22,1,15,10,7,4,13,10,...,358,20,7,6,16,3,12,20,1,36
Family,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,0,0,...,8,4,0,0,0,2,0,1,0,0
Horror,0,3,3,12,2,0,0,1,2,0,...,92,5,4,1,0,0,2,5,0,5
Mystery,0,2,3,0,1,0,0,0,0,0,...,10,2,0,1,0,0,0,3,0,1
Romance,0,0,0,0,0,0,1,0,0,0,...,2,0,0,0,0,0,0,1,0,0
Sci-Fi,0,0,0,0,0,0,0,0,0,0,...,6,0,0,0,0,0,1,0,0,1
Thriller,0,0,0,0,0,0,0,0,0,0,...,6,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

Observed Values

array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   9,   0,
          0,   0,   0,   0,   0,   0,   0,   0],
       [  6,  28,  36,   6,  10,   3,   1,   7,  11,   3,  32, 348,  57,
          8,  11,  16,   8,  50,  58,  16,  79],
       [  2,   5,   7,   1,   4,   7,   3,   2,   3,   2,  10,  98,  10,
          1,   6,   5,   0,  15,  11,  16,  15],
       [  1,  10,   1,   0,   3,   4,   0,   0,   0,   0,   0,  98,   9,
          0,   0,   3,   0,   7,   5,  14,  12],
       [  0,   6,   8,   0,   3,   3,   6,   3,   1,   1,   1, 127,   1,
          0,   0,   6,   2,   1,  17,   3,   4],
       [ 18,  19,  30,  12,  21,  18,  16,  12,  26,  21,  35, 556,  54,
          8,   5,  28,  21,  37,  76,  19,  42],
       [  4,   6,   7,   2,   2,   1,   1,   2,   4,   8,  11, 156,  15,
          4,   1,   2,   5,   3,  11,   0,  17],
       [  6,   9,  22,   1,  15,  10,   7,   4,  13,  10,  13, 358,  20,
          7,   6,  16,   3,  12,  20,   1,  36],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,   2,   0,
          0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   4,   8,   4,
          0,   0,   0,   2,   0,   1,   0,   0],
       [  0,   3,   3,  12,   2,   0,   0,   1,   2,   0,  11,  92,   5,
          4,   1,   0,   0,   2,   5,   0,   5],
       [  0,   2,   3,   0,   1,   0,   0,   0,   0,   0,   1,  10,   2,
          0,   1,   0,   0,   0,   3,   0,   1],
       [  0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   2,   0,
          0,   0,   0,   0,   0,   1,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   6,   0,
          0,   0,   0,   0,   1,   0,   0,   1],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   6,   0,
          0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,
          0,   0,   0,   0,   0,   0,   0,   0]], dtype=int64)

chi2_test_statistic, p, dof, expected

632.6359770327847

6.867936576941464e-26

300

array([[9.44948922e-02, 2.24744608e-01, 2.98808173e-01, 8.68331442e-02,
        1.55788876e-01, 1.17480136e-01, 8.93870602e-02, 7.91713961e-02,
        1.53234960e-01, 1.14926220e-01, 3.03916005e-01, 4.79370034e+00,
        4.52043133e-01, 8.17253121e-02, 7.91713961e-02, 1.94097616e-01,
        1.04710556e-01, 3.26901249e-01, 5.31214529e-01, 1.76220204e-01,
        5.41430193e-01],
       [8.33654938e+00, 1.98274688e+01, 2.63615210e+01, 7.66061294e+00,
        1.37440409e+01, 1.03643587e+01, 7.88592509e+00, 6.98467650e+00,
        1.35187287e+01, 1.01390465e+01, 2.68121453e+01, 4.22910897e+02,
        3.98802497e+01, 7.20998865e+00, 6.98467650e+00, 1.71237230e+01,
        9.23779796e+00, 2.88399546e+01, 4.68649262e+01, 1.55465380e+01,
        4.77661748e+01],
       [2.34137344e+00, 5.56867196e+00, 7.40380250e+00, 2.15153235e+00,
        3.86010216e+00, 2.91089671e+00, 2.21481271e+00, 1.96169126e+00,
        3.79682179e+00, 2.84761635e+00, 7.53036322e+00, 1.18777242e+02,
        1.12006243e+01, 2.02497162e+00, 1.96169126e+00, 4.80930760e+00,
        2.59449489e+00, 8.09988649e+00, 1.31623156e+01, 4.36634506e+00,
        1.34154370e+01],
       [1.75340522e+00, 4.17026107e+00, 5.54455165e+00, 1.61123723e+00,
        2.89074915e+00, 2.17990919e+00, 1.65862656e+00, 1.46906924e+00,
        2.84335982e+00, 2.13251986e+00, 5.63933031e+00, 8.89497730e+01,
        8.38791146e+00, 1.51645857e+00, 1.46906924e+00, 3.60158910e+00,
        1.94296254e+00, 6.06583428e+00, 9.85698070e+00, 3.26986379e+00,
        1.00465380e+01],
       [2.02639047e+00, 4.81952327e+00, 6.40777526e+00, 1.86208854e+00,
        3.34080590e+00, 2.51929625e+00, 1.91685585e+00, 1.69778661e+00,
        3.28603859e+00, 2.46452894e+00, 6.51730988e+00, 1.02798241e+02,
        9.69381385e+00, 1.75255392e+00, 1.69778661e+00, 4.16231555e+00,
        2.24545970e+00, 7.01021566e+00, 1.13916005e+01, 3.77894438e+00,
        1.16106697e+01],
       [1.12763905e+01, 2.68195233e+01, 3.56577753e+01, 1.03620885e+01,
        1.85908059e+01, 1.40192963e+01, 1.06668558e+01, 9.44778661e+00,
        1.82860386e+01, 1.37145289e+01, 3.62673099e+01, 5.72048241e+02,
        5.39438138e+01, 9.75255392e+00, 9.44778661e+00, 2.31623156e+01,
        1.24954597e+01, 3.90102157e+01, 6.33916005e+01, 2.10289444e+01,
        6.46106697e+01],
       [2.75085131e+00, 6.54256527e+00, 8.69863791e+00, 2.52780931e+00,
        4.53518729e+00, 3.41997730e+00, 2.60215664e+00, 2.30476731e+00,
        4.46083995e+00, 3.34562997e+00, 8.84733258e+00, 1.39549943e+02,
        1.31594779e+01, 2.37911464e+00, 2.30476731e+00, 5.65039728e+00,
        3.04824064e+00, 9.51645857e+00, 1.54642452e+01, 5.12996595e+00,
        1.57616345e+01],
       [6.18416572e+00, 1.47082860e+01, 1.95553348e+01, 5.68274688e+00,
        1.01955165e+01, 7.68842225e+00, 5.84988649e+00, 5.18132804e+00,
        1.00283768e+01, 7.52128263e+00, 1.98896141e+01, 3.13721056e+02,
        2.95837117e+01, 5.34846765e+00, 5.18132804e+00, 1.27026107e+01,
        6.85272418e+00, 2.13938706e+01, 3.47650397e+01, 1.15326334e+01,
        3.54335982e+01],
       [3.14982974e-02, 7.49148695e-02, 9.96027242e-02, 2.89443814e-02,
        5.19296254e-02, 3.91600454e-02, 2.97956867e-02, 2.63904654e-02,
        5.10783201e-02, 3.83087401e-02, 1.01305335e-01, 1.59790011e+00,
        1.50681044e-01, 2.72417707e-02, 2.63904654e-02, 6.46992054e-02,
        3.49035187e-02, 1.08967083e-01, 1.77071510e-01, 5.87400681e-02,
        1.80476731e-01],
       [1.99489217e-01, 4.74460840e-01, 6.30817253e-01, 1.83314415e-01,
        3.28887628e-01, 2.48013621e-01, 1.88706016e-01, 1.67139614e-01,
        3.23496027e-01, 2.42622020e-01, 6.41600454e-01, 1.01200341e+01,
        9.54313280e-01, 1.72531215e-01, 1.67139614e-01, 4.09761635e-01,
        2.21055619e-01, 6.90124858e-01, 1.12145289e+00, 3.72020431e-01,
        1.14301930e+00],
       [1.55391600e+00, 3.69580023e+00, 4.91373439e+00, 1.42792281e+00,
        2.56186152e+00, 1.93189557e+00, 1.46992054e+00, 1.30192963e+00,
        2.51986379e+00, 1.88989784e+00, 4.99772985e+00, 7.88297389e+01,
        7.43359818e+00, 1.34392736e+00, 1.30192963e+00, 3.19182747e+00,
        1.72190692e+00, 5.37570942e+00, 8.73552781e+00, 2.89784336e+00,
        8.90351873e+00],
       [2.51986379e-01, 5.99318956e-01, 7.96821793e-01, 2.31555051e-01,
        4.15437003e-01, 3.13280363e-01, 2.38365494e-01, 2.11123723e-01,
        4.08626561e-01, 3.06469921e-01, 8.10442679e-01, 1.27832009e+01,
        1.20544835e+00, 2.17934166e-01, 2.11123723e-01, 5.17593644e-01,
        2.79228150e-01, 8.71736663e-01, 1.41657208e+00, 4.69920545e-01,
        1.44381385e+00],
       [4.19977299e-02, 9.98864926e-02, 1.32803632e-01, 3.85925085e-02,
        6.92395006e-02, 5.22133939e-02, 3.97275823e-02, 3.51872872e-02,
        6.81044268e-02, 5.10783201e-02, 1.35073780e-01, 2.13053348e+00,
        2.00908059e-01, 3.63223610e-02, 3.51872872e-02, 8.62656073e-02,
        4.65380250e-02, 1.45289444e-01, 2.36095346e-01, 7.83200908e-02,
        2.40635641e-01],
       [8.39954597e-02, 1.99772985e-01, 2.65607264e-01, 7.71850170e-02,
        1.38479001e-01, 1.04426788e-01, 7.94551646e-02, 7.03745743e-02,
        1.36208854e-01, 1.02156640e-01, 2.70147560e-01, 4.26106697e+00,
        4.01816118e-01, 7.26447219e-02, 7.03745743e-02, 1.72531215e-01,
        9.30760499e-02, 2.90578888e-01, 4.72190692e-01, 1.56640182e-01,
        4.81271283e-01],
       [6.29965948e-02, 1.49829739e-01, 1.99205448e-01, 5.78887628e-02,
        1.03859251e-01, 7.83200908e-02, 5.95913734e-02, 5.27809308e-02,
        1.02156640e-01, 7.66174801e-02, 2.02610670e-01, 3.19580023e+00,
        3.01362089e-01, 5.44835414e-02, 5.27809308e-02, 1.29398411e-01,
        6.98070375e-02, 2.17934166e-01, 3.54143019e-01, 1.17480136e-01,
        3.60953462e-01],
       [1.04994325e-02, 2.49716232e-02, 3.32009081e-02, 9.64812713e-03,
        1.73098751e-02, 1.30533485e-02, 9.93189557e-03, 8.79682179e-03,
        1.70261067e-02, 1.27695800e-02, 3.37684449e-02, 5.32633371e-01,
        5.02270148e-02, 9.08059024e-03, 8.79682179e-03, 2.15664018e-02,
        1.16345062e-02, 3.63223610e-02, 5.90238365e-02, 1.95800227e-02,
        6.01589103e-02]])

critical = 341.395, chi2_test_statistic = 632.636
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

country    Other  USA
genre
0              9    0
Action       100  694
Adventure     38  185
Animation     18  149
Biography     60  133
Comedy       101  973
Crime         29  233
Drama        117  472
Family         0    3
Fantasy        1   18
Horror        16  132
Mystery        3   21
Romance        2    2
Sci-Fi         1    7
Thriller       1    5
Western        1    0

Observed Values

array([[  9,   0],
       [100, 694],
       [ 38, 185],
       [ 18, 149],
       [ 60, 133],
       [101, 973],
       [ 29, 233],
       [117, 472],
       [  0,   3],
       [  1,  18],
       [ 16, 132],
       [  3,  21],
       [  2,   2],
       [  1,   7],
       [  1,   5],
       [  1,   0]], dtype=int64)

chi2_test_statistic, p, dof, expected

156.57229777650653

1.1876526875042708e-25

15

array([[1.26929625e+00, 7.73070375e+00],
       [1.11980136e+02, 6.82019864e+02],
       [3.14503405e+01, 1.91549659e+02],
       [2.35524972e+01, 1.43447503e+02],
       [2.72193530e+01, 1.65780647e+02],
       [1.51469353e+02, 9.22530647e+02],
       [3.69506243e+01, 2.25049376e+02],
       [8.30683882e+01, 5.05931612e+02],
       [4.23098751e-01, 2.57690125e+00],
       [2.67962543e+00, 1.63203746e+01],
       [2.08728717e+01, 1.27127128e+02],
       [3.38479001e+00, 2.06152100e+01],
       [5.64131669e-01, 3.43586833e+00],
       [1.12826334e+00, 6.87173666e+00],
       [8.46197503e-01, 5.15380250e+00],
       [1.41032917e-01, 8.58967083e-01]])

critical = 24.996, chi2_test_statistic = 156.572
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

director,Barry Levinson,Bruce Beresford,Clint Eastwood,Dennis Dugan,Martin Scorsese,Michael Apted,Oliver Stone,Other,Renny Harlin,Richard Donner,...,Ridley Scott,Rob Reiner,Robert Zemeckis,Ron Howard,Spike Lee,Steven Soderbergh,Steven Spielberg,Tim Burton,Wes Craven,Woody Allen
genre,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,0
Action,0,0,5,3,0,1,1,749,10,9,...,5,0,1,3,1,0,4,1,0,0
Adventure,1,0,1,0,1,1,0,197,0,0,...,4,3,4,3,0,0,5,3,0,0
Animation,0,0,0,0,0,0,0,162,0,0,...,0,0,2,0,0,0,1,1,0,0
Biography,2,1,6,0,2,2,5,165,0,0,...,1,0,0,3,0,2,2,2,0,0
Comedy,4,3,0,8,0,1,0,994,0,1,...,2,7,2,6,7,3,1,3,3,24
Crime,2,1,3,0,3,4,2,235,0,0,...,2,1,0,0,3,5,1,0,0,0
Drama,3,5,5,0,3,1,6,531,0,1,...,1,2,3,0,4,7,5,1,1,4
Family,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,16,0,0,...,0,0,0,0,0,0,0,1,2,0
Horror,0,0,0,0,0,0,0,141,2,0,...,0,0,0,0,0,0,0,0,5,0
Mystery,0,0,0,0,1,0,0,20,0,0,...,0,0,0,2,0,0,0,0,1,0
Romance,0,0,0,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
Sci-Fi,0,0,0,0,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriller,0,0,0,0,0,0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

Observed Values

array([[  0,   0,   0,   0,   0,   0,   0,   9,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   5,   3,   0,   1,   1, 749,  10,   9,   1,   5,   0,
          1,   3,   1,   0,   4,   1,   0,   0],
       [  1,   0,   1,   0,   1,   1,   0, 197,   0,   0,   0,   4,   3,
          4,   3,   0,   0,   5,   3,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0, 162,   0,   0,   1,   0,   0,
          2,   0,   0,   0,   1,   1,   0,   0],
       [  2,   1,   6,   0,   2,   2,   5, 165,   0,   0,   0,   1,   0,
          0,   3,   0,   2,   2,   2,   0,   0],
       [  4,   3,   0,   8,   0,   1,   0, 994,   0,   1,   5,   2,   7,
          2,   6,   7,   3,   1,   3,   3,  24],
       [  2,   1,   3,   0,   3,   4,   2, 235,   0,   0,   0,   2,   1,
          0,   0,   3,   5,   1,   0,   0,   0],
       [  3,   5,   5,   0,   3,   1,   6, 531,   0,   1,   6,   1,   2,
          3,   0,   4,   7,   5,   1,   1,   4],
       [  0,   0,   0,   0,   0,   0,   0,   3,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  16,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   1,   2,   0],
       [  0,   0,   0,   0,   0,   0,   0, 141,   2,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   5,   0],
       [  0,   0,   0,   0,   1,   0,   0,  20,   0,   0,   0,   0,   0,
          0,   2,   0,   0,   0,   0,   1,   0],
       [  0,   0,   0,   0,   0,   0,   0,   4,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   8,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   6,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0]], dtype=int64)

chi2_test_statistic, p, dof, expected

561.0515094746818

4.588799305328769e-18

300

array([[3.06469921e-02, 2.55391600e-02, 5.10783201e-02, 2.80930760e-02,
        2.55391600e-02, 2.55391600e-02, 3.57548241e-02, 8.27724177e+00,
        3.06469921e-02, 2.80930760e-02, 3.32009081e-02, 3.83087401e-02,
        3.32009081e-02, 3.06469921e-02, 4.34165721e-02, 3.83087401e-02,
        4.34165721e-02, 4.85244041e-02, 3.06469921e-02, 3.06469921e-02,
        7.15096481e-02],
       [2.70374574e+00, 2.25312145e+00, 4.50624291e+00, 2.47843360e+00,
        2.25312145e+00, 2.25312145e+00, 3.15437003e+00, 7.30236663e+02,
        2.70374574e+00, 2.47843360e+00, 2.92905789e+00, 3.37968218e+00,
        2.92905789e+00, 2.70374574e+00, 3.83030647e+00, 3.37968218e+00,
        3.83030647e+00, 4.28093076e+00, 2.70374574e+00, 2.70374574e+00,
        6.30874007e+00],
       [7.59364359e-01, 6.32803632e-01, 1.26560726e+00, 6.96083995e-01,
        6.32803632e-01, 6.32803632e-01, 8.85925085e-01, 2.05091657e+02,
        7.59364359e-01, 6.96083995e-01, 8.22644722e-01, 9.49205448e-01,
        8.22644722e-01, 7.59364359e-01, 1.07576617e+00, 9.49205448e-01,
        1.07576617e+00, 1.20232690e+00, 7.59364359e-01, 7.59364359e-01,
        1.77185017e+00],
       [5.68671964e-01, 4.73893303e-01, 9.47786606e-01, 5.21282633e-01,
        4.73893303e-01, 4.73893303e-01, 6.63450624e-01, 1.53588820e+02,
        5.68671964e-01, 5.21282633e-01, 6.16061294e-01, 7.10839955e-01,
        6.16061294e-01, 5.68671964e-01, 8.05618615e-01, 7.10839955e-01,
        8.05618615e-01, 9.00397276e-01, 5.68671964e-01, 5.68671964e-01,
        1.32690125e+00],
       [6.57207719e-01, 5.47673099e-01, 1.09534620e+00, 6.02440409e-01,
        5.47673099e-01, 5.47673099e-01, 7.66742338e-01, 1.77500851e+02,
        6.57207719e-01, 6.02440409e-01, 7.11975028e-01, 8.21509648e-01,
        7.11975028e-01, 6.57207719e-01, 9.31044268e-01, 8.21509648e-01,
        9.31044268e-01, 1.04057889e+00, 6.57207719e-01, 6.57207719e-01,
        1.53348468e+00],
       [3.65720772e+00, 3.04767310e+00, 6.09534620e+00, 3.35244041e+00,
        3.04767310e+00, 3.04767310e+00, 4.26674234e+00, 9.87750851e+02,
        3.65720772e+00, 3.35244041e+00, 3.96197503e+00, 4.57150965e+00,
        3.96197503e+00, 3.65720772e+00, 5.18104427e+00, 4.57150965e+00,
        5.18104427e+00, 5.79057889e+00, 3.65720772e+00, 3.65720772e+00,
        8.53348468e+00],
       [8.92167991e-01, 7.43473326e-01, 1.48694665e+00, 8.17820658e-01,
        7.43473326e-01, 7.43473326e-01, 1.04086266e+00, 2.40959705e+02,
        8.92167991e-01, 8.17820658e-01, 9.66515323e-01, 1.11520999e+00,
        9.66515323e-01, 8.92167991e-01, 1.26390465e+00, 1.11520999e+00,
        1.26390465e+00, 1.41259932e+00, 8.92167991e-01, 8.92167991e-01,
        2.08172531e+00],
       [2.00567537e+00, 1.67139614e+00, 3.34279228e+00, 1.83853575e+00,
        1.67139614e+00, 1.67139614e+00, 2.33995460e+00, 5.41699489e+02,
        2.00567537e+00, 1.83853575e+00, 2.17281498e+00, 2.50709421e+00,
        2.17281498e+00, 2.00567537e+00, 2.84137344e+00, 2.50709421e+00,
        2.84137344e+00, 3.17565267e+00, 2.00567537e+00, 2.00567537e+00,
        4.67990919e+00],
       [1.02156640e-02, 8.51305335e-03, 1.70261067e-02, 9.36435868e-03,
        8.51305335e-03, 8.51305335e-03, 1.19182747e-02, 2.75908059e+00,
        1.02156640e-02, 9.36435868e-03, 1.10669694e-02, 1.27695800e-02,
        1.10669694e-02, 1.02156640e-02, 1.44721907e-02, 1.27695800e-02,
        1.44721907e-02, 1.61748014e-02, 1.02156640e-02, 1.02156640e-02,
        2.38365494e-02],
       [6.46992054e-02, 5.39160045e-02, 1.07832009e-01, 5.93076050e-02,
        5.39160045e-02, 5.39160045e-02, 7.54824064e-02, 1.74741771e+01,
        6.46992054e-02, 5.93076050e-02, 7.00908059e-02, 8.08740068e-02,
        7.00908059e-02, 6.46992054e-02, 9.16572077e-02, 8.08740068e-02,
        9.16572077e-02, 1.02440409e-01, 6.46992054e-02, 6.46992054e-02,
        1.50964813e-01],
       [5.03972758e-01, 4.19977299e-01, 8.39954597e-01, 4.61975028e-01,
        4.19977299e-01, 4.19977299e-01, 5.87968218e-01, 1.36114642e+02,
        5.03972758e-01, 4.61975028e-01, 5.45970488e-01, 6.29965948e-01,
        5.45970488e-01, 5.03972758e-01, 7.13961407e-01, 6.29965948e-01,
        7.13961407e-01, 7.97956867e-01, 5.03972758e-01, 5.03972758e-01,
        1.17593644e+00],
       [8.17253121e-02, 6.81044268e-02, 1.36208854e-01, 7.49148695e-02,
        6.81044268e-02, 6.81044268e-02, 9.53461975e-02, 2.20726447e+01,
        8.17253121e-02, 7.49148695e-02, 8.85357548e-02, 1.02156640e-01,
        8.85357548e-02, 8.17253121e-02, 1.15777526e-01, 1.02156640e-01,
        1.15777526e-01, 1.29398411e-01, 8.17253121e-02, 8.17253121e-02,
        1.90692395e-01],
       [1.36208854e-02, 1.13507378e-02, 2.27014756e-02, 1.24858116e-02,
        1.13507378e-02, 1.13507378e-02, 1.58910329e-02, 3.67877412e+00,
        1.36208854e-02, 1.24858116e-02, 1.47559591e-02, 1.70261067e-02,
        1.47559591e-02, 1.36208854e-02, 1.92962543e-02, 1.70261067e-02,
        1.92962543e-02, 2.15664018e-02, 1.36208854e-02, 1.36208854e-02,
        3.17820658e-02],
       [2.72417707e-02, 2.27014756e-02, 4.54029512e-02, 2.49716232e-02,
        2.27014756e-02, 2.27014756e-02, 3.17820658e-02, 7.35754824e+00,
        2.72417707e-02, 2.49716232e-02, 2.95119183e-02, 3.40522134e-02,
        2.95119183e-02, 2.72417707e-02, 3.85925085e-02, 3.40522134e-02,
        3.85925085e-02, 4.31328036e-02, 2.72417707e-02, 2.72417707e-02,
        6.35641317e-02],
       [2.04313280e-02, 1.70261067e-02, 3.40522134e-02, 1.87287174e-02,
        1.70261067e-02, 1.70261067e-02, 2.38365494e-02, 5.51816118e+00,
        2.04313280e-02, 1.87287174e-02, 2.21339387e-02, 2.55391600e-02,
        2.21339387e-02, 2.04313280e-02, 2.89443814e-02, 2.55391600e-02,
        2.89443814e-02, 3.23496027e-02, 2.04313280e-02, 2.04313280e-02,
        4.76730988e-02],
       [3.40522134e-03, 2.83768445e-03, 5.67536890e-03, 3.12145289e-03,
        2.83768445e-03, 2.83768445e-03, 3.97275823e-03, 9.19693530e-01,
        3.40522134e-03, 3.12145289e-03, 3.68898978e-03, 4.25652667e-03,
        3.68898978e-03, 3.40522134e-03, 4.82406356e-03, 4.25652667e-03,
        4.82406356e-03, 5.39160045e-03, 3.40522134e-03, 3.40522134e-03,
        7.94551646e-03]])

critical = 341.395, chi2_test_statistic = 561.052
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

rating     0   G  NC-17  NOT RATED  Not specified   PG  PG-13    R  UNRATED
genre
0          9   0      0          0              0    0      0    0        0
Action     0   0      0          1              2   67    362  362        0
Adventure  0  11      0          0              0   90     77   45        0
Animation  0  47      0          0              0  109      6    5        0
Biography  0   1      0          2              0   27     64   97        2
Comedy     0   8      3          7              0  177    405  470        4
Crime      0   0      1          0              0    0     26  233        2
Drama      0   1      1         12              1   40    215  314        5
Family     0   1      0          0              0    2      0    0        0
Fantasy    0   0      0          1              0    1      0   17        0
Horror     0   0      0          0              0    0     29  119        0
Mystery    0   0      0          1              0    0     10   13        0
Romance    0   0      0          0              0    2      2    0        0
Sci-Fi     0   0      0          0              0    0      6    2        0
Thriller   0   0      0          0              0    1      0    5        0
Western    0   0      0          0              0    0      0    1        0

Observed Values

array([[  9,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   1,   2,  67, 362, 362,   0],
       [  0,  11,   0,   0,   0,  90,  77,  45,   0],
       [  0,  47,   0,   0,   0, 109,   6,   5,   0],
       [  0,   1,   0,   2,   0,  27,  64,  97,   2],
       [  0,   8,   3,   7,   0, 177, 405, 470,   4],
       [  0,   0,   1,   0,   0,   0,  26, 233,   2],
       [  0,   1,   1,  12,   1,  40, 215, 314,   5],
       [  0,   1,   0,   0,   0,   2,   0,   0,   0],
       [  0,   0,   0,   1,   0,   1,   0,  17,   0],
       [  0,   0,   0,   0,   0,   0,  29, 119,   0],
       [  0,   0,   0,   1,   0,   0,  10,  13,   0],
       [  0,   0,   0,   0,   0,   2,   2,   0,   0],
       [  0,   0,   0,   0,   0,   0,   6,   2,   0],
       [  0,   0,   0,   0,   0,   1,   0,   5,   0],
       [  0,   0,   0,   0,   0,   0,   0,   1,   0]], dtype=int64)

chi2_test_statistic, p, dof, expected

5155.835279456919

0.0

120

array([[2.29852440e-02, 1.76220204e-01, 1.27695800e-02, 6.12939841e-02,
        7.66174801e-03, 1.31782066e+00, 3.06980704e+00, 4.29824064e+00,
        3.32009081e-02],
       [2.02780931e+00, 1.55465380e+01, 1.12656073e+00, 5.40749149e+00,
        6.75936436e-01, 1.16261067e+02, 2.70825199e+02, 3.79200341e+02,
        2.92905789e+00],
       [5.69523269e-01, 4.36634506e+00, 3.16401816e-01, 1.51872872e+00,
        1.89841090e-01, 3.26526674e+01, 7.60629966e+01, 1.06500851e+02,
        8.22644722e-01],
       [4.26503973e-01, 3.26986379e+00, 2.36946652e-01, 1.13734393e+00,
        1.42167991e-01, 2.44528944e+01, 5.69619750e+01, 7.97562429e+01,
        6.16061294e-01],
       [4.92905789e-01, 3.77894438e+00, 2.73836549e-01, 1.31441544e+00,
        1.64301930e-01, 2.82599319e+01, 6.58303065e+01, 9.21733825e+01,
        7.11975028e-01],
       [2.74290579e+00, 2.10289444e+01, 1.52383655e+00, 7.31441544e+00,
        9.14301930e-01, 1.57259932e+02, 3.66330306e+02, 5.12923383e+02,
        3.96197503e+00],
       [6.69125993e-01, 5.12996595e+00, 3.71736663e-01, 1.78433598e+00,
        2.23041998e-01, 3.83632236e+01, 8.93654938e+01, 1.25126561e+02,
        9.66515323e-01],
       [1.50425653e+00, 1.15326334e+01, 8.35698070e-01, 4.01135074e+00,
        5.01418842e-01, 8.62440409e+01, 2.00901816e+02, 2.81295970e+02,
        2.17281498e+00],
       [7.66174801e-03, 5.87400681e-02, 4.25652667e-03, 2.04313280e-02,
        2.55391600e-03, 4.39273553e-01, 1.02326901e+00, 1.43274688e+00,
        1.10669694e-02],
       [4.85244041e-02, 3.72020431e-01, 2.69580023e-02, 1.29398411e-01,
        1.61748014e-02, 2.78206583e+00, 6.48070375e+00, 9.07406356e+00,
        7.00908059e-02],
       [3.77979569e-01, 2.89784336e+00, 2.09988649e-01, 1.00794552e+00,
        1.25993190e-01, 2.16708286e+01, 5.04812713e+01, 7.06821793e+01,
        5.45970488e-01],
       [6.12939841e-02, 4.69920545e-01, 3.40522134e-02, 1.63450624e-01,
        2.04313280e-02, 3.51418842e+00, 8.18615210e+00, 1.14619750e+01,
        8.85357548e-02],
       [1.02156640e-02, 7.83200908e-02, 5.67536890e-03, 2.72417707e-02,
        3.40522134e-03, 5.85698070e-01, 1.36435868e+00, 1.91032917e+00,
        1.47559591e-02],
       [2.04313280e-02, 1.56640182e-01, 1.13507378e-02, 5.44835414e-02,
        6.81044268e-03, 1.17139614e+00, 2.72871737e+00, 3.82065834e+00,
        2.95119183e-02],
       [1.53234960e-02, 1.17480136e-01, 8.51305335e-03, 4.08626561e-02,
        5.10783201e-03, 8.78547106e-01, 2.04653802e+00, 2.86549376e+00,
        2.21339387e-02],
       [2.55391600e-03, 1.95800227e-02, 1.41884222e-03, 6.81044268e-03,
        8.51305335e-04, 1.46424518e-01, 3.41089671e-01, 4.77582293e-01,
        3.68898978e-03]])

critical = 146.567, chi2_test_statistic = 5155.835
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

released,0,1.01.2004 00:00,1.02.1991 00:00,1.02.2002 00:00,1.02.2008 00:00,1.02.2013 00:00,1.03.1991 00:00,1.03.1996 00:00,1.03.2002 00:00,1.03.2013 00:00,...,9.11.1994 00:00,9.11.2001 00:00,9.11.2005 00:00,9.11.2007 00:00,9.11.2012 00:00,9.12.1988 00:00,9.12.1994 00:00,9.12.2005 00:00,9.12.2011 00:00,9.12.2016 00:00
genre,,,,,,,,,,,,,,,,,,,,,
0,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Action,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
Adventure,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
Animation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Biography,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Comedy,0,1,2,2,1,2,0,1,1,1,...,1,1,0,1,0,1,0,0,1,1
Crime,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
Drama,0,0,0,0,0,0,0,1,1,0,...,0,1,0,1,0,0,1,1,1,0
Family,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Horror,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Sci-Fi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Observed Values

array([[9, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

chi2_test_statistic, p, dof, expected

29127.625975806837

2.0946853130285455e-27

26565

array([[2.29852440e-02, 2.55391600e-03, 5.10783201e-03, ...,
        5.10783201e-03, 5.10783201e-03, 5.10783201e-03],
       [2.02780931e+00, 2.25312145e-01, 4.50624291e-01, ...,
        4.50624291e-01, 4.50624291e-01, 4.50624291e-01],
       [5.69523269e-01, 6.32803632e-02, 1.26560726e-01, ...,
        1.26560726e-01, 1.26560726e-01, 1.26560726e-01],
       ...,
       [2.04313280e-02, 2.27014756e-03, 4.54029512e-03, ...,
        4.54029512e-03, 4.54029512e-03, 4.54029512e-03],
       [1.53234960e-02, 1.70261067e-03, 3.40522134e-03, ...,
        3.40522134e-03, 3.40522134e-03, 3.40522134e-03],
       [2.55391600e-03, 2.83768445e-04, 5.67536890e-04, ...,
        5.67536890e-04, 5.67536890e-04, 5.67536890e-04]])

critical = 26945.271, chi2_test_statistic = 29127.626
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

isprofit     0    1
genre
0            9    0
Action     426  368
Adventure  101  122
Animation   64  103
Biography  108   85
Comedy     474  600
Crime      140  122
Drama      327  262
Family       3    0
Fantasy      5   14
Horror      48  100
Mystery      9   15
Romance      2    2
Sci-Fi       4    4
Thriller     4    2
Western      1    0

Observed Values

array([[  9,   0],
       [426, 368],
       [101, 122],
       [ 64, 103],
       [108,  85],
       [474, 600],
       [140, 122],
       [327, 262],
       [  3,   0],
       [  5,  14],
       [ 48, 100],
       [  9,  15],
       [  2,   2],
       [  4,   4],
       [  4,   2],
       [  1,   0]], dtype=int64)

chi2_test_statistic, p, dof, expected

77.43533448482708

2.0497069292208742e-10

15

array([[4.40550511e+00, 4.59449489e+00],
       [3.88663451e+02, 4.05336549e+02],
       [1.09158627e+02, 1.13841373e+02],
       [8.17465948e+01, 8.52534052e+01],
       [9.44736095e+01, 9.85263905e+01],
       [5.25723610e+02, 5.48276390e+02],
       [1.28249149e+02, 1.33750851e+02],
       [2.88315834e+02, 3.00684166e+02],
       [1.46850170e+00, 1.53149830e+00],
       [9.30051078e+00, 9.69948922e+00],
       [7.24460840e+01, 7.55539160e+01],
       [1.17480136e+01, 1.22519864e+01],
       [1.95800227e+00, 2.04199773e+00],
       [3.91600454e+00, 4.08399546e+00],
       [2.93700341e+00, 3.06299659e+00],
       [4.89500568e-01, 5.10499432e-01]])

critical = 24.996, chi2_test_statistic = 77.435
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

country                                 Other   USA
company
Castle Rock Entertainment                   2    35
Columbia Pictures                           7    81
Columbia Pictures Corporation               6   111
Dimension Films                             0    34
DreamWorks                                  2    59
Fox 2000 Pictures                           1    45
Fox Searchlight Pictures                    5    30
Hollywood Pictures                          1    30
Metro-Goldwyn-Mayer (MGM)                   6    54
Miramax                                     7    38
New Line Cinema                            10   109
Other                                     373  1504
Paramount Pictures                          9   168
Screen Gems                                 0    32
Summit Entertainment                        1    30
Touchstone Pictures                         6    70
TriStar Pictures                            1    40
Twentieth Century Fox Film Corporation      9   119
Universal Pictures                         27   181
Walt Disney Pictures                        4    65
Warner Bros.                               20   192

Observed Values

array([[   2,   35],
       [   7,   81],
       [   6,  111],
       [   0,   34],
       [   2,   59],
       [   1,   45],
       [   5,   30],
       [   1,   30],
       [   6,   54],
       [   7,   38],
       [  10,  109],
       [ 373, 1504],
       [   9,  168],
       [   0,   32],
       [   1,   30],
       [   6,   70],
       [   1,   40],
       [   9,  119],
       [  27,  181],
       [   4,   65],
       [  20,  192]], dtype=int64)

chi2_test_statistic, p, dof, expected

128.8536092427827

6.393766101906721e-18

20

array([[   5.21821793,   31.78178207],
       [  12.41089671,   75.58910329],
       [  16.50085131,  100.49914869],
       [   4.79511918,   29.20488082],
       [   8.60300795,   52.39699205],
       [   6.48751419,   39.51248581],
       [   4.9361521 ,   30.0638479 ],
       [   4.37202043,   26.62797957],
       [   8.46197503,   51.53802497],
       [   6.34648127,   38.65351873],
       [  16.78291714,  102.21708286],
       [ 264.71878547, 1612.28121453],
       [  24.96282633,  152.03717367],
       [   4.51305335,   27.48694665],
       [   4.37202043,   26.62797957],
       [  10.7185017 ,   65.2814983 ],
       [   5.7823496 ,   35.2176504 ],
       [  18.05221339,  109.94778661],
       [  29.33484677,  178.66515323],
       [   9.73127128,   59.26872872],
       [  29.89897843,  182.10102157]])

critical = 31.410, chi2_test_statistic = 128.854
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

director,Barry Levinson,Bruce Beresford,Clint Eastwood,Dennis Dugan,Martin Scorsese,Michael Apted,Oliver Stone,Other,Renny Harlin,Richard Donner,...,Ridley Scott,Rob Reiner,Robert Zemeckis,Ron Howard,Spike Lee,Steven Soderbergh,Steven Spielberg,Tim Burton,Wes Craven,Woody Allen
company,,,,,,,,,,,,,,,,,,,,,
Castle Rock Entertainment,0,0,1,0,0,1,0,28,0,0,...,0,5,1,0,0,0,0,0,0,0
Columbia Pictures,0,0,0,5,0,0,0,80,0,0,...,0,0,0,2,0,0,1,0,0,0
Columbia Pictures Corporation,0,0,0,1,0,1,0,109,0,1,...,1,2,0,0,1,0,0,1,0,0
Dimension Films,0,0,0,0,0,0,0,30,0,0,...,0,0,0,0,0,0,0,0,4,0
DreamWorks,0,0,1,0,0,0,0,46,0,0,...,1,0,1,0,0,0,7,0,1,4
Fox 2000 Pictures,0,0,0,0,0,2,0,43,0,0,...,1,0,0,0,0,0,0,0,0,0
Fox Searchlight Pictures,0,0,0,0,0,0,0,34,0,0,...,0,0,0,0,1,0,0,0,0,0
Hollywood Pictures,0,0,0,0,0,0,0,30,0,0,...,1,0,0,0,0,0,0,0,0,0
Metro-Goldwyn-Mayer (MGM),0,1,0,0,0,0,0,57,0,0,...,1,0,0,1,0,0,0,0,0,0
Miramax,0,0,0,0,1,0,0,41,0,0,...,0,0,0,0,0,1,0,0,0,2
New Line Cinema,0,0,0,0,0,1,0,115,1,0,...,0,0,0,0,1,0,0,0,1,0
Other,8,8,10,2,3,2,7,1762,7,2,...,4,3,2,5,6,9,2,3,4,19
Paramount Pictures,0,1,0,0,2,1,1,161,0,2,...,0,0,2,1,0,0,3,1,0,0
Screen Gems,0,0,0,0,0,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
Summit Entertainment,0,0,0,0,0,0,0,30,1,0,...,0,0,0,0,0,0,0,0,0,0
Touchstone Pictures,1,0,0,0,1,0,0,70,0,0,...,0,0,1,0,1,0,0,1,0,1
TriStar Pictures,1,0,0,0,0,1,0,37,0,0,...,0,0,0,0,0,0,0,0,0,2
Twentieth Century Fox Film Corporation,0,0,0,0,0,0,2,116,2,0,...,3,0,1,0,0,0,1,2,0,0
Universal Pictures,0,0,0,3,2,1,0,178,0,0,...,1,1,3,7,5,2,3,0,2,0
Walt Disney Pictures,0,0,0,0,0,0,0,68,0,0,...,0,0,0,0,0,0,1,0,0,0
Warner Bros.,2,0,8,0,1,0,4,174,1,6,...,2,2,1,1,0,5,1,4,0,0

Observed Values

array([[   0,    0,    1,    0,    0,    1,    0,   28,    0,    0,    1,
           0,    5,    1,    0,    0,    0,    0,    0,    0,    0],
       [   0,    0,    0,    5,    0,    0,    0,   80,    0,    0,    0,
           0,    0,    0,    2,    0,    0,    1,    0,    0,    0],
       [   0,    0,    0,    1,    0,    1,    0,  109,    0,    1,    0,
           1,    2,    0,    0,    1,    0,    0,    1,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,   30,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    4,    0],
       [   0,    0,    1,    0,    0,    0,    0,   46,    0,    0,    0,
           1,    0,    1,    0,    0,    0,    7,    0,    1,    4],
       [   0,    0,    0,    0,    0,    2,    0,   43,    0,    0,    0,
           1,    0,    0,    0,    0,    0,    0,    0,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,   34,    0,    0,    0,
           0,    0,    0,    0,    1,    0,    0,    0,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,   30,    0,    0,    0,
           1,    0,    0,    0,    0,    0,    0,    0,    0,    0],
       [   0,    1,    0,    0,    0,    0,    0,   57,    0,    0,    0,
           1,    0,    0,    1,    0,    0,    0,    0,    0,    0],
       [   0,    0,    0,    0,    1,    0,    0,   41,    0,    0,    0,
           0,    0,    0,    0,    0,    1,    0,    0,    0,    2],
       [   0,    0,    0,    0,    0,    1,    0,  115,    1,    0,    0,
           0,    0,    0,    0,    1,    0,    0,    0,    1,    0],
       [   8,    8,   10,    2,    3,    2,    7, 1762,    7,    2,    9,
           4,    3,    2,    5,    6,    9,    2,    3,    4,   19],
       [   0,    1,    0,    0,    2,    1,    1,  161,    0,    2,    2,
           0,    0,    2,    1,    0,    0,    3,    1,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,   32,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,   30,    1,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0],
       [   1,    0,    0,    0,    1,    0,    0,   70,    0,    0,    0,
           0,    0,    1,    0,    1,    0,    0,    1,    0,    1],
       [   1,    0,    0,    0,    0,    1,    0,   37,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    2],
       [   0,    0,    0,    0,    0,    0,    2,  116,    2,    0,    1,
           3,    0,    1,    0,    0,    0,    1,    2,    0,    0],
       [   0,    0,    0,    3,    2,    1,    0,  178,    0,    0,    0,
           1,    1,    3,    7,    5,    2,    3,    0,    2,    0],
       [   0,    0,    0,    0,    0,    0,    0,   68,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    1,    0,    0,    0],
       [   2,    0,    8,    0,    1,    0,    4,  174,    1,    6,    0,
           2,    2,    1,    1,    0,    5,    1,    4,    0,    0]],
      dtype=int64)

chi2_test_statistic, p, dof, expected

1089.9807821717773

2.8563531972245992e-65

400

array([[1.25993190e-01, 1.04994325e-01, 2.09988649e-01, 1.15493757e-01,
        1.04994325e-01, 1.04994325e-01, 1.46992054e-01, 3.40286606e+01,
        1.25993190e-01, 1.15493757e-01, 1.36492622e-01, 1.57491487e-01,
        1.36492622e-01, 1.25993190e-01, 1.78490352e-01, 1.57491487e-01,
        1.78490352e-01, 1.99489217e-01, 1.25993190e-01, 1.25993190e-01,
        2.93984109e-01],
       [2.99659478e-01, 2.49716232e-01, 4.99432463e-01, 2.74687855e-01,
        2.49716232e-01, 2.49716232e-01, 3.49602724e-01, 8.09330306e+01,
        2.99659478e-01, 2.74687855e-01, 3.24631101e-01, 3.74574347e-01,
        3.24631101e-01, 2.99659478e-01, 4.24517594e-01, 3.74574347e-01,
        4.24517594e-01, 4.74460840e-01, 2.99659478e-01, 2.99659478e-01,
        6.99205448e-01],
       [3.98410897e-01, 3.32009081e-01, 6.64018161e-01, 3.65209989e-01,
        3.32009081e-01, 3.32009081e-01, 4.64812713e-01, 1.07604143e+02,
        3.98410897e-01, 3.65209989e-01, 4.31611805e-01, 4.98013621e-01,
        4.31611805e-01, 3.98410897e-01, 5.64415437e-01, 4.98013621e-01,
        5.64415437e-01, 6.30817253e-01, 3.98410897e-01, 3.98410897e-01,
        9.29625426e-01],
       [1.15777526e-01, 9.64812713e-02, 1.92962543e-01, 1.06129398e-01,
        9.64812713e-02, 9.64812713e-02, 1.35073780e-01, 3.12695800e+01,
        1.15777526e-01, 1.06129398e-01, 1.25425653e-01, 1.44721907e-01,
        1.25425653e-01, 1.15777526e-01, 1.64018161e-01, 1.44721907e-01,
        1.64018161e-01, 1.83314415e-01, 1.15777526e-01, 1.15777526e-01,
        2.70147560e-01],
       [2.07718502e-01, 1.73098751e-01, 3.46197503e-01, 1.90408627e-01,
        1.73098751e-01, 1.73098751e-01, 2.42338252e-01, 5.61013053e+01,
        2.07718502e-01, 1.90408627e-01, 2.25028377e-01, 2.59648127e-01,
        2.25028377e-01, 2.07718502e-01, 2.94267877e-01, 2.59648127e-01,
        2.94267877e-01, 3.28887628e-01, 2.07718502e-01, 2.07718502e-01,
        4.84676504e-01],
       [1.56640182e-01, 1.30533485e-01, 2.61066969e-01, 1.43586833e-01,
        1.30533485e-01, 1.30533485e-01, 1.82746879e-01, 4.23059024e+01,
        1.56640182e-01, 1.43586833e-01, 1.69693530e-01, 1.95800227e-01,
        1.69693530e-01, 1.56640182e-01, 2.21906924e-01, 1.95800227e-01,
        2.21906924e-01, 2.48013621e-01, 1.56640182e-01, 1.56640182e-01,
        3.65493757e-01],
       [1.19182747e-01, 9.93189557e-02, 1.98637911e-01, 1.09250851e-01,
        9.93189557e-02, 9.93189557e-02, 1.39046538e-01, 3.21892736e+01,
        1.19182747e-01, 1.09250851e-01, 1.29114642e-01, 1.48978434e-01,
        1.29114642e-01, 1.19182747e-01, 1.68842225e-01, 1.48978434e-01,
        1.68842225e-01, 1.88706016e-01, 1.19182747e-01, 1.19182747e-01,
        2.78093076e-01],
       [1.05561862e-01, 8.79682179e-02, 1.75936436e-01, 9.67650397e-02,
        8.79682179e-02, 8.79682179e-02, 1.23155505e-01, 2.85104994e+01,
        1.05561862e-01, 9.67650397e-02, 1.14358683e-01, 1.31952327e-01,
        1.14358683e-01, 1.05561862e-01, 1.49545970e-01, 1.31952327e-01,
        1.49545970e-01, 1.67139614e-01, 1.05561862e-01, 1.05561862e-01,
        2.46311010e-01],
       [2.04313280e-01, 1.70261067e-01, 3.40522134e-01, 1.87287174e-01,
        1.70261067e-01, 1.70261067e-01, 2.38365494e-01, 5.51816118e+01,
        2.04313280e-01, 1.87287174e-01, 2.21339387e-01, 2.55391600e-01,
        2.21339387e-01, 2.04313280e-01, 2.89443814e-01, 2.55391600e-01,
        2.89443814e-01, 3.23496027e-01, 2.04313280e-01, 2.04313280e-01,
        4.76730988e-01],
       [1.53234960e-01, 1.27695800e-01, 2.55391600e-01, 1.40465380e-01,
        1.27695800e-01, 1.27695800e-01, 1.78774120e-01, 4.13862089e+01,
        1.53234960e-01, 1.40465380e-01, 1.66004540e-01, 1.91543700e-01,
        1.66004540e-01, 1.53234960e-01, 2.17082860e-01, 1.91543700e-01,
        2.17082860e-01, 2.42622020e-01, 1.53234960e-01, 1.53234960e-01,
        3.57548241e-01],
       [4.05221339e-01, 3.37684449e-01, 6.75368899e-01, 3.71452894e-01,
        3.37684449e-01, 3.37684449e-01, 4.72758229e-01, 1.09443530e+02,
        4.05221339e-01, 3.71452894e-01, 4.38989784e-01, 5.06526674e-01,
        4.38989784e-01, 4.05221339e-01, 5.74063564e-01, 5.06526674e-01,
        5.74063564e-01, 6.41600454e-01, 4.05221339e-01, 4.05221339e-01,
        9.45516459e-01],
       [6.39160045e+00, 5.32633371e+00, 1.06526674e+01, 5.85896708e+00,
        5.32633371e+00, 5.32633371e+00, 7.45686720e+00, 1.72626476e+03,
        6.39160045e+00, 5.85896708e+00, 6.92423383e+00, 7.98950057e+00,
        6.92423383e+00, 6.39160045e+00, 9.05476731e+00, 7.98950057e+00,
        9.05476731e+00, 1.01200341e+01, 6.39160045e+00, 6.39160045e+00,
        1.49137344e+01],
       [6.02724177e-01, 5.02270148e-01, 1.00454030e+00, 5.52497162e-01,
        5.02270148e-01, 5.02270148e-01, 7.03178207e-01, 1.62785755e+02,
        6.02724177e-01, 5.52497162e-01, 6.52951192e-01, 7.53405221e-01,
        6.52951192e-01, 6.02724177e-01, 8.53859251e-01, 7.53405221e-01,
        8.53859251e-01, 9.54313280e-01, 6.02724177e-01, 6.02724177e-01,
        1.40635641e+00],
       [1.08967083e-01, 9.08059024e-02, 1.81611805e-01, 9.98864926e-02,
        9.08059024e-02, 9.08059024e-02, 1.27128263e-01, 2.94301930e+01,
        1.08967083e-01, 9.98864926e-02, 1.18047673e-01, 1.36208854e-01,
        1.18047673e-01, 1.08967083e-01, 1.54370034e-01, 1.36208854e-01,
        1.54370034e-01, 1.72531215e-01, 1.08967083e-01, 1.08967083e-01,
        2.54256527e-01],
       [1.05561862e-01, 8.79682179e-02, 1.75936436e-01, 9.67650397e-02,
        8.79682179e-02, 8.79682179e-02, 1.23155505e-01, 2.85104994e+01,
        1.05561862e-01, 9.67650397e-02, 1.14358683e-01, 1.31952327e-01,
        1.14358683e-01, 1.05561862e-01, 1.49545970e-01, 1.31952327e-01,
        1.49545970e-01, 1.67139614e-01, 1.05561862e-01, 1.05561862e-01,
        2.46311010e-01],
       [2.58796822e-01, 2.15664018e-01, 4.31328036e-01, 2.37230420e-01,
        2.15664018e-01, 2.15664018e-01, 3.01929625e-01, 6.98967083e+01,
        2.58796822e-01, 2.37230420e-01, 2.80363224e-01, 3.23496027e-01,
        2.80363224e-01, 2.58796822e-01, 3.66628831e-01, 3.23496027e-01,
        3.66628831e-01, 4.09761635e-01, 2.58796822e-01, 2.58796822e-01,
        6.03859251e-01],
       [1.39614075e-01, 1.16345062e-01, 2.32690125e-01, 1.27979569e-01,
        1.16345062e-01, 1.16345062e-01, 1.62883087e-01, 3.77074347e+01,
        1.39614075e-01, 1.27979569e-01, 1.51248581e-01, 1.74517594e-01,
        1.51248581e-01, 1.39614075e-01, 1.97786606e-01, 1.74517594e-01,
        1.97786606e-01, 2.21055619e-01, 1.39614075e-01, 1.39614075e-01,
        3.25766175e-01],
       [4.35868331e-01, 3.63223610e-01, 7.26447219e-01, 3.99545970e-01,
        3.63223610e-01, 3.63223610e-01, 5.08513053e-01, 1.17720772e+02,
        4.35868331e-01, 3.99545970e-01, 4.72190692e-01, 5.44835414e-01,
        4.72190692e-01, 4.35868331e-01, 6.17480136e-01, 5.44835414e-01,
        6.17480136e-01, 6.90124858e-01, 4.35868331e-01, 4.35868331e-01,
        1.01702611e+00],
       [7.08286039e-01, 5.90238365e-01, 1.18047673e+00, 6.49262202e-01,
        5.90238365e-01, 5.90238365e-01, 8.26333712e-01, 1.91296254e+02,
        7.08286039e-01, 6.49262202e-01, 7.67309875e-01, 8.85357548e-01,
        7.67309875e-01, 7.08286039e-01, 1.00340522e+00, 8.85357548e-01,
        1.00340522e+00, 1.12145289e+00, 7.08286039e-01, 7.08286039e-01,
        1.65266742e+00],
       [2.34960272e-01, 1.95800227e-01, 3.91600454e-01, 2.15380250e-01,
        1.95800227e-01, 1.95800227e-01, 2.74120318e-01, 6.34588536e+01,
        2.34960272e-01, 2.15380250e-01, 2.54540295e-01, 2.93700341e-01,
        2.54540295e-01, 2.34960272e-01, 3.32860386e-01, 2.93700341e-01,
        3.32860386e-01, 3.72020431e-01, 2.34960272e-01, 2.34960272e-01,
        5.48240636e-01],
       [7.21906924e-01, 6.01589103e-01, 1.20317821e+00, 6.61748014e-01,
        6.01589103e-01, 6.01589103e-01, 8.42224745e-01, 1.94975028e+02,
        7.21906924e-01, 6.61748014e-01, 7.82065834e-01, 9.02383655e-01,
        7.82065834e-01, 7.21906924e-01, 1.02270148e+00, 9.02383655e-01,
        1.02270148e+00, 1.14301930e+00, 7.21906924e-01, 7.21906924e-01,
        1.68444949e+00]])

critical = 447.632, chi2_test_statistic = 1089.981
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

rating,0,G,NC-17,NOT RATED,Not specified,PG,PG-13,R,UNRATED
company,,,,,,,,,
Castle Rock Entertainment,0,1,0,0,0,5,15,16,0
Columbia Pictures,0,0,0,0,0,20,43,25,0
Columbia Pictures Corporation,0,0,0,0,0,10,54,53,0
Dimension Films,0,0,0,0,0,1,10,23,0
DreamWorks,0,0,0,0,0,6,33,22,0
Fox 2000 Pictures,0,2,0,0,0,18,18,8,0
Fox Searchlight Pictures,0,0,1,0,0,2,6,26,0
Hollywood Pictures,0,0,0,0,0,7,10,14,0
Metro-Goldwyn-Mayer (MGM),0,0,0,0,0,11,28,21,0
Miramax,0,0,0,0,0,4,11,30,0
New Line Cinema,0,1,0,0,0,7,43,68,0
Other,9,40,4,24,3,239,492,1053,13
Paramount Pictures,0,3,0,0,0,24,85,65,0
Screen Gems,0,0,0,0,0,0,20,12,0
Summit Entertainment,0,0,0,0,0,2,23,6,0
Touchstone Pictures,0,1,0,0,0,16,38,21,0
TriStar Pictures,0,0,0,0,0,6,13,22,0
Twentieth Century Fox Film Corporation,0,1,0,0,0,24,67,36,0
Universal Pictures,0,2,0,0,0,29,105,72,0
Walt Disney Pictures,0,18,0,0,0,44,7,0,0
Warner Bros.,0,0,0,0,0,41,81,90,0

Observed Values

array([[   0,    1,    0,    0,    0,    5,   15,   16,    0],
       [   0,    0,    0,    0,    0,   20,   43,   25,    0],
       [   0,    0,    0,    0,    0,   10,   54,   53,    0],
       [   0,    0,    0,    0,    0,    1,   10,   23,    0],
       [   0,    0,    0,    0,    0,    6,   33,   22,    0],
       [   0,    2,    0,    0,    0,   18,   18,    8,    0],
       [   0,    0,    1,    0,    0,    2,    6,   26,    0],
       [   0,    0,    0,    0,    0,    7,   10,   14,    0],
       [   0,    0,    0,    0,    0,   11,   28,   21,    0],
       [   0,    0,    0,    0,    0,    4,   11,   30,    0],
       [   0,    1,    0,    0,    0,    7,   43,   68,    0],
       [   9,   40,    4,   24,    3,  239,  492, 1053,   13],
       [   0,    3,    0,    0,    0,   24,   85,   65,    0],
       [   0,    0,    0,    0,    0,    0,   20,   12,    0],
       [   0,    0,    0,    0,    0,    2,   23,    6,    0],
       [   0,    1,    0,    0,    0,   16,   38,   21,    0],
       [   0,    0,    0,    0,    0,    6,   13,   22,    0],
       [   0,    1,    0,    0,    0,   24,   67,   36,    0],
       [   0,    2,    0,    0,    0,   29,  105,   72,    0],
       [   0,   18,    0,    0,    0,   44,    7,    0,    0],
       [   0,    0,    0,    0,    0,   41,   81,   90,    0]],
      dtype=int64)

chi2_test_statistic, p, dof, expected

731.5286210479003

6.267700202785287e-74

160

array([[9.44948922e-02, 7.24460840e-01, 5.24971623e-02, 2.51986379e-01,
        3.14982974e-02, 5.41770715e+00, 1.26203178e+01, 1.76705448e+01,
        1.36492622e-01],
       [2.24744608e-01, 1.72304200e+00, 1.24858116e-01, 5.99318956e-01,
        7.49148695e-02, 1.28853575e+01, 3.00158910e+01, 4.20272418e+01,
        3.24631101e-01],
       [2.98808173e-01, 2.29086266e+00, 1.66004540e-01, 7.96821793e-01,
        9.96027242e-02, 1.71316686e+01, 3.99074915e+01, 5.58771283e+01,
        4.31611805e-01],
       [8.68331442e-02, 6.65720772e-01, 4.82406356e-02, 2.31555051e-01,
        2.89443814e-02, 4.97843360e+00, 1.15970488e+01, 1.62377980e+01,
        1.25425653e-01],
       [1.55788876e-01, 1.19438138e+00, 8.65493757e-02, 4.15437003e-01,
        5.19296254e-02, 8.93189557e+00, 2.08064699e+01, 2.91325199e+01,
        2.25028377e-01],
       [1.17480136e-01, 9.00681044e-01, 6.52667423e-02, 3.13280363e-01,
        3.91600454e-02, 6.73552781e+00, 1.56901249e+01, 2.19687855e+01,
        1.69693530e-01],
       [8.93870602e-02, 6.85300795e-01, 4.96594779e-02, 2.38365494e-01,
        2.97956867e-02, 5.12485812e+00, 1.19381385e+01, 1.67153802e+01,
        1.29114642e-01],
       [7.91713961e-02, 6.06980704e-01, 4.39841090e-02, 2.11123723e-01,
        2.63904654e-02, 4.53916005e+00, 1.05737798e+01, 1.48050511e+01,
        1.14358683e-01],
       [1.53234960e-01, 1.17480136e+00, 8.51305335e-02, 4.08626561e-01,
        5.10783201e-02, 8.78547106e+00, 2.04653802e+01, 2.86549376e+01,
        2.21339387e-01],
       [1.14926220e-01, 8.81101022e-01, 6.38479001e-02, 3.06469921e-01,
        3.83087401e-02, 6.58910329e+00, 1.53490352e+01, 2.14912032e+01,
        1.66004540e-01],
       [3.03916005e-01, 2.33002270e+00, 1.68842225e-01, 8.10442679e-01,
        1.01305335e-01, 1.74245176e+01, 4.05896708e+01, 5.68322928e+01,
        4.38989784e-01],
       [4.79370034e+00, 3.67517026e+01, 2.66316686e+00, 1.27832009e+01,
        1.59790011e+00, 2.74838820e+02, 6.40225312e+02, 8.96421964e+02,
        6.92423383e+00],
       [4.52043133e-01, 3.46566402e+00, 2.51135074e-01, 1.20544835e+00,
        1.50681044e-01, 2.59171396e+01, 6.03728717e+01, 8.45320658e+01,
        6.52951192e-01],
       [8.17253121e-02, 6.26560726e-01, 4.54029512e-02, 2.17934166e-01,
        2.72417707e-02, 4.68558456e+00, 1.09148695e+01, 1.52826334e+01,
        1.18047673e-01],
       [7.91713961e-02, 6.06980704e-01, 4.39841090e-02, 2.11123723e-01,
        2.63904654e-02, 4.53916005e+00, 1.05737798e+01, 1.48050511e+01,
        1.14358683e-01],
       [1.94097616e-01, 1.48808173e+00, 1.07832009e-01, 5.17593644e-01,
        6.46992054e-02, 1.11282633e+01, 2.59228150e+01, 3.62962543e+01,
        2.80363224e-01],
       [1.04710556e-01, 8.02780931e-01, 5.81725312e-02, 2.79228150e-01,
        3.49035187e-02, 6.00340522e+00, 1.39846765e+01, 1.95808740e+01,
        1.51248581e-01],
       [3.26901249e-01, 2.50624291e+00, 1.81611805e-01, 8.71736663e-01,
        1.08967083e-01, 1.87423383e+01, 4.36594779e+01, 6.11305335e+01,
        4.72190692e-01],
       [5.31214529e-01, 4.07264472e+00, 2.95119183e-01, 1.41657208e+00,
        1.77071510e-01, 3.04562997e+01, 7.09466515e+01, 9.93371169e+01,
        7.67309875e-01],
       [1.76220204e-01, 1.35102157e+00, 9.79001135e-02, 4.69920545e-01,
        5.87400681e-02, 1.01032917e+01, 2.35351873e+01, 3.29531782e+01,
        2.54540295e-01],
       [5.41430193e-01, 4.15096481e+00, 3.00794552e-01, 1.44381385e+00,
        1.80476731e-01, 3.10419977e+01, 7.23110102e+01, 1.01247446e+02,
        7.82065834e-01]])

critical = 190.516, chi2_test_statistic = 731.529
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

released,0,1.01.2004 00:00,1.02.1991 00:00,1.02.2002 00:00,1.02.2008 00:00,1.02.2013 00:00,1.03.1991 00:00,1.03.1996 00:00,1.03.2002 00:00,1.03.2013 00:00,...,9.11.1994 00:00,9.11.2001 00:00,9.11.2005 00:00,9.11.2007 00:00,9.11.2012 00:00,9.12.1988 00:00,9.12.1994 00:00,9.12.2005 00:00,9.12.2011 00:00,9.12.2016 00:00
company,,,,,,,,,,,,,,,,,,,,,
Castle Rock Entertainment,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Columbia Pictures,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Columbia Pictures Corporation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dimension Films,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DreamWorks,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Fox 2000 Pictures,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Fox Searchlight Pictures,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Hollywood Pictures,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Metro-Goldwyn-Mayer (MGM),0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
Miramax,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
New Line Cinema,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Other,9,0,2,2,2,2,1,0,2,1,...,1,1,1,1,1,0,0,0,1,2
Paramount Pictures,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Screen Gems,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Summit Entertainment,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Touchstone Pictures,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
TriStar Pictures,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Twentieth Century Fox Film Corporation,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
Universal Pictures,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Walt Disney Pictures,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Warner Bros.,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,0,0

Observed Values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]], dtype=int64)

chi2_test_statistic, p, dof, expected

33096.17975178755

1.0

35420

array([[0.09449489, 0.01049943, 0.02099886, ..., 0.02099886, 0.02099886,
        0.02099886],
       [0.22474461, 0.02497162, 0.04994325, ..., 0.04994325, 0.04994325,
        0.04994325],
       [0.29880817, 0.03320091, 0.06640182, ..., 0.06640182, 0.06640182,
        0.06640182],
       ...,
       [0.53121453, 0.05902384, 0.11804767, ..., 0.11804767, 0.11804767,
        0.11804767],
       [0.1762202 , 0.01958002, 0.03916005, ..., 0.03916005, 0.03916005,
        0.03916005],
       [0.54143019, 0.06015891, 0.12031782, ..., 0.12031782, 0.12031782,
        0.12031782]])

critical = 35858.925, chi2_test_statistic = 33096.180
Independent (fail to reject H0)

significance = 0.050, p = 1.000
Independent (fail to reject H0)

isprofit                                   0    1
company
Castle Rock Entertainment                 18   19
Columbia Pictures                         33   55
Columbia Pictures Corporation             58   59
Dimension Films                           12   22
DreamWorks                                29   32
Fox 2000 Pictures                         18   28
Fox Searchlight Pictures                  11   24
Hollywood Pictures                        13   18
Metro-Goldwyn-Mayer (MGM)                 36   24
Miramax                                   21   24
New Line Cinema                           42   77
Other                                   1044  833
Paramount Pictures                        59  118
Screen Gems                               10   22
Summit Entertainment                      11   20
Touchstone Pictures                       26   50
TriStar Pictures                          17   24
Twentieth Century Fox Film Corporation    53   75
Universal Pictures                        90  118
Walt Disney Pictures                      19   50
Warner Bros.                             105  107

Observed Values

array([[  18,   19],
       [  33,   55],
       [  58,   59],
       [  12,   22],
       [  29,   32],
       [  18,   28],
       [  11,   24],
       [  13,   18],
       [  36,   24],
       [  21,   24],
       [  42,   77],
       [1044,  833],
       [  59,  118],
       [  10,   22],
       [  11,   20],
       [  26,   50],
       [  17,   24],
       [  53,   75],
       [  90,  118],
       [  19,   50],
       [ 105,  107]], dtype=int64)

chi2_test_statistic, p, dof, expected

108.59106965831063

3.54619926405531e-14

20

array([[ 18.111521  ,  18.888479  ],
       [ 43.07604994,  44.92395006],
       [ 57.2715664 ,  59.7284336 ],
       [ 16.6430193 ,  17.3569807 ],
       [ 29.85953462,  31.14046538],
       [ 22.51702611,  23.48297389],
       [ 17.13251986,  17.86748014],
       [ 15.17451759,  15.82548241],
       [ 29.37003405,  30.62996595],
       [ 22.02752554,  22.97247446],
       [ 58.25056754,  60.74943246],
       [918.79256527, 958.20743473],
       [ 86.64160045,  90.35839955],
       [ 15.66401816,  16.33598184],
       [ 15.17451759,  15.82548241],
       [ 37.20204313,  38.79795687],
       [ 20.06952327,  20.93047673],
       [ 62.65607264,  65.34392736],
       [101.81611805, 106.18388195],
       [ 33.77553916,  35.22446084],
       [103.77412032, 108.22587968]])

critical = 31.410, chi2_test_statistic = 108.591
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

director,Barry Levinson,Bruce Beresford,Clint Eastwood,Dennis Dugan,Martin Scorsese,Michael Apted,Oliver Stone,Other,Renny Harlin,Richard Donner,...,Ridley Scott,Rob Reiner,Robert Zemeckis,Ron Howard,Spike Lee,Steven Soderbergh,Steven Spielberg,Tim Burton,Wes Craven,Woody Allen
country,,,,,,,,,,,,,,,,,,,,,
Other,0,4,1,0,2,1,4,472,0,1,...,2,0,1,0,0,2,1,1,0,4
USA,12,6,19,11,8,9,10,2769,12,10,...,13,13,11,17,15,15,18,11,12,24

Observed Values

array([[   0,    4,    1,    0,    2,    1,    4,  472,    0,    1,    1,
           2,    0,    1,    0,    0,    2,    1,    1,    0,    4],
       [  12,    6,   19,   11,    8,    9,   10, 2769,   12,   10,   12,
          13,   13,   11,   17,   15,   15,   18,   11,   12,   24]],
      dtype=int64)

chi2_test_statistic, p, dof, expected

28.06027075879496

0.10798029507256064

20

array([[1.69239501e+00, 1.41032917e+00, 2.82065834e+00, 1.55136209e+00,
        1.41032917e+00, 1.41032917e+00, 1.97446084e+00, 4.57087684e+02,
        1.69239501e+00, 1.55136209e+00, 1.83342792e+00, 2.11549376e+00,
        1.83342792e+00, 1.69239501e+00, 2.39755959e+00, 2.11549376e+00,
        2.39755959e+00, 2.67962543e+00, 1.69239501e+00, 1.69239501e+00,
        3.94892168e+00],
       [1.03076050e+01, 8.58967083e+00, 1.71793417e+01, 9.44863791e+00,
        8.58967083e+00, 8.58967083e+00, 1.20255392e+01, 2.78391232e+03,
        1.03076050e+01, 9.44863791e+00, 1.11665721e+01, 1.28845062e+01,
        1.11665721e+01, 1.03076050e+01, 1.46024404e+01, 1.28845062e+01,
        1.46024404e+01, 1.63203746e+01, 1.03076050e+01, 1.03076050e+01,
        2.40510783e+01]])

critical = 31.410, chi2_test_statistic = 28.060
Independent (fail to reject H0)

significance = 0.050, p = 0.108
Independent (fail to reject H0)

rating   0   G  NC-17  NOT RATED  Not specified   PG  PG-13     R  UNRATED
country
Other    9  13      1         13              2   61    141   253        4
USA      0  56      4         11              1  455   1061  1430        9

Observed Values

array([[   9,   13,    1,   13,    2,   61,  141,  253,    4],
       [   0,   56,    4,   11,    1,  455, 1061, 1430,    9]],
      dtype=int64)

chi2_test_statistic, p, dof, expected

106.86195191438502

1.6790128058106214e-19

8

array([[1.26929625e+00, 9.73127128e+00, 7.05164586e-01, 3.38479001e+00,
        4.23098751e-01, 7.27729852e+01, 1.69521566e+02, 2.37358400e+02,
        1.83342792e+00],
       [7.73070375e+00, 5.92687287e+01, 4.29483541e+00, 2.06152100e+01,
        2.57690125e+00, 4.43227015e+02, 1.03247843e+03, 1.44564160e+03,
        1.11665721e+01]])

critical = 15.507, chi2_test_statistic = 106.862
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

released,0,1.01.2004 00:00,1.02.1991 00:00,1.02.2002 00:00,1.02.2008 00:00,1.02.2013 00:00,1.03.1991 00:00,1.03.1996 00:00,1.03.2002 00:00,1.03.2013 00:00,...,9.11.1994 00:00,9.11.2001 00:00,9.11.2005 00:00,9.11.2007 00:00,9.11.2012 00:00,9.12.1988 00:00,9.12.1994 00:00,9.12.2005 00:00,9.12.2011 00:00,9.12.2016 00:00
country,,,,,,,,,,,,,,,,,,,,,
Other,9,1,0,2,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
USA,0,0,2,0,2,3,1,2,3,2,...,1,2,1,3,0,1,2,2,2,2

Observed Values

array([[9, 1, 0, ..., 0, 0, 0],
       [0, 0, 2, ..., 2, 2, 2]], dtype=int64)

chi2_test_statistic, p, dof, expected

1736.2411953179583

0.7179228733334809

1771

array([[1.26929625, 0.14103292, 0.28206583, ..., 0.28206583, 0.28206583,
        0.28206583],
       [7.73070375, 0.85896708, 1.71793417, ..., 1.71793417, 1.71793417,
        1.71793417]])

critical = 1870.017, chi2_test_statistic = 1736.241
Independent (fail to reject H0)

significance = 0.050, p = 0.718
Independent (fail to reject H0)

isprofit     0     1
country
Other      330   167
USA       1395  1632

Observed Values

array([[ 330,  167],
       [1395, 1632]], dtype=int64)

chi2_test_statistic, p, dof, expected

69.68137484569843

6.970116776098656e-17

1

array([[ 243.28178207,  253.71821793],
       [1481.71821793, 1545.28178207]])

critical = 3.841, chi2_test_statistic = 69.681
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

rating,0,G,NC-17,NOT RATED,Not specified,PG,PG-13,R,UNRATED
director,,,,,,,,,
Barry Levinson,0,0,0,0,0,0,2,10,0
Bruce Beresford,0,0,0,0,0,2,3,5,0
Clint Eastwood,0,0,0,0,0,1,7,12,0
Dennis Dugan,0,0,0,0,0,2,9,0,0
Martin Scorsese,0,0,0,0,0,1,1,8,0
Michael Apted,0,0,0,0,0,2,4,4,0
Oliver Stone,0,0,0,0,0,0,3,11,0
Other,9,68,5,23,3,484,1097,1539,13
Renny Harlin,0,0,0,0,0,0,4,8,0
Richard Donner,0,0,0,0,0,1,4,6,0
Richard Linklater,0,0,0,0,0,0,4,9,0
Ridley Scott,0,0,0,0,0,0,5,10,0
Rob Reiner,0,0,0,0,0,2,6,5,0
Robert Zemeckis,0,1,0,0,0,5,4,2,0
Ron Howard,0,0,0,0,0,3,10,4,0
Spike Lee,0,0,0,0,0,0,1,14,0
Steven Soderbergh,0,0,0,1,0,0,6,10,0
Steven Spielberg,0,0,0,0,0,4,11,4,0
Tim Burton,0,0,0,0,0,3,7,2,0
Wes Craven,0,0,0,0,0,1,1,10,0
Woody Allen,0,0,0,0,0,5,13,10,0

Observed Values

array([[   0,    0,    0,    0,    0,    0,    2,   10,    0],
       [   0,    0,    0,    0,    0,    2,    3,    5,    0],
       [   0,    0,    0,    0,    0,    1,    7,   12,    0],
       [   0,    0,    0,    0,    0,    2,    9,    0,    0],
       [   0,    0,    0,    0,    0,    1,    1,    8,    0],
       [   0,    0,    0,    0,    0,    2,    4,    4,    0],
       [   0,    0,    0,    0,    0,    0,    3,   11,    0],
       [   9,   68,    5,   23,    3,  484, 1097, 1539,   13],
       [   0,    0,    0,    0,    0,    0,    4,    8,    0],
       [   0,    0,    0,    0,    0,    1,    4,    6,    0],
       [   0,    0,    0,    0,    0,    0,    4,    9,    0],
       [   0,    0,    0,    0,    0,    0,    5,   10,    0],
       [   0,    0,    0,    0,    0,    2,    6,    5,    0],
       [   0,    1,    0,    0,    0,    5,    4,    2,    0],
       [   0,    0,    0,    0,    0,    3,   10,    4,    0],
       [   0,    0,    0,    0,    0,    0,    1,   14,    0],
       [   0,    0,    0,    1,    0,    0,    6,   10,    0],
       [   0,    0,    0,    0,    0,    4,   11,    4,    0],
       [   0,    0,    0,    0,    0,    3,    7,    2,    0],
       [   0,    0,    0,    0,    0,    1,    1,   10,    0],
       [   0,    0,    0,    0,    0,    5,   13,   10,    0]],
      dtype=int64)

chi2_test_statistic, p, dof, expected

109.42592092116308

0.9992045661618998

160

array([[3.06469921e-02, 2.34960272e-01, 1.70261067e-02, 8.17253121e-02,
        1.02156640e-02, 1.75709421e+00, 4.09307605e+00, 5.73098751e+00,
        4.42678774e-02],
       [2.55391600e-02, 1.95800227e-01, 1.41884222e-02, 6.81044268e-02,
        8.51305335e-03, 1.46424518e+00, 3.41089671e+00, 4.77582293e+00,
        3.68898978e-02],
       [5.10783201e-02, 3.91600454e-01, 2.83768445e-02, 1.36208854e-01,
        1.70261067e-02, 2.92849035e+00, 6.82179342e+00, 9.55164586e+00,
        7.37797957e-02],
       [2.80930760e-02, 2.15380250e-01, 1.56072645e-02, 7.49148695e-02,
        9.36435868e-03, 1.61066969e+00, 3.75198638e+00, 5.25340522e+00,
        4.05788876e-02],
       [2.55391600e-02, 1.95800227e-01, 1.41884222e-02, 6.81044268e-02,
        8.51305335e-03, 1.46424518e+00, 3.41089671e+00, 4.77582293e+00,
        3.68898978e-02],
       [2.55391600e-02, 1.95800227e-01, 1.41884222e-02, 6.81044268e-02,
        8.51305335e-03, 1.46424518e+00, 3.41089671e+00, 4.77582293e+00,
        3.68898978e-02],
       [3.57548241e-02, 2.74120318e-01, 1.98637911e-02, 9.53461975e-02,
        1.19182747e-02, 2.04994325e+00, 4.77525539e+00, 6.68615210e+00,
        5.16458570e-02],
       [8.27724177e+00, 6.34588536e+01, 4.59846765e+00, 2.20726447e+01,
        2.75908059e+00, 4.74561862e+02, 1.10547162e+03, 1.54784421e+03,
        1.19560159e+01],
       [3.06469921e-02, 2.34960272e-01, 1.70261067e-02, 8.17253121e-02,
        1.02156640e-02, 1.75709421e+00, 4.09307605e+00, 5.73098751e+00,
        4.42678774e-02],
       [2.80930760e-02, 2.15380250e-01, 1.56072645e-02, 7.49148695e-02,
        9.36435868e-03, 1.61066969e+00, 3.75198638e+00, 5.25340522e+00,
        4.05788876e-02],
       [3.32009081e-02, 2.54540295e-01, 1.84449489e-02, 8.85357548e-02,
        1.10669694e-02, 1.90351873e+00, 4.43416572e+00, 6.20856981e+00,
        4.79568672e-02],
       [3.83087401e-02, 2.93700341e-01, 2.12826334e-02, 1.02156640e-01,
        1.27695800e-02, 2.19636776e+00, 5.11634506e+00, 7.16373439e+00,
        5.53348468e-02],
       [3.32009081e-02, 2.54540295e-01, 1.84449489e-02, 8.85357548e-02,
        1.10669694e-02, 1.90351873e+00, 4.43416572e+00, 6.20856981e+00,
        4.79568672e-02],
       [3.06469921e-02, 2.34960272e-01, 1.70261067e-02, 8.17253121e-02,
        1.02156640e-02, 1.75709421e+00, 4.09307605e+00, 5.73098751e+00,
        4.42678774e-02],
       [4.34165721e-02, 3.32860386e-01, 2.41203178e-02, 1.15777526e-01,
        1.44721907e-02, 2.48921680e+00, 5.79852440e+00, 8.11889898e+00,
        6.27128263e-02],
       [3.83087401e-02, 2.93700341e-01, 2.12826334e-02, 1.02156640e-01,
        1.27695800e-02, 2.19636776e+00, 5.11634506e+00, 7.16373439e+00,
        5.53348468e-02],
       [4.34165721e-02, 3.32860386e-01, 2.41203178e-02, 1.15777526e-01,
        1.44721907e-02, 2.48921680e+00, 5.79852440e+00, 8.11889898e+00,
        6.27128263e-02],
       [4.85244041e-02, 3.72020431e-01, 2.69580023e-02, 1.29398411e-01,
        1.61748014e-02, 2.78206583e+00, 6.48070375e+00, 9.07406356e+00,
        7.00908059e-02],
       [3.06469921e-02, 2.34960272e-01, 1.70261067e-02, 8.17253121e-02,
        1.02156640e-02, 1.75709421e+00, 4.09307605e+00, 5.73098751e+00,
        4.42678774e-02],
       [3.06469921e-02, 2.34960272e-01, 1.70261067e-02, 8.17253121e-02,
        1.02156640e-02, 1.75709421e+00, 4.09307605e+00, 5.73098751e+00,
        4.42678774e-02],
       [7.15096481e-02, 5.48240636e-01, 3.97275823e-02, 1.90692395e-01,
        2.38365494e-02, 4.09988649e+00, 9.55051078e+00, 1.33723042e+01,
        1.03291714e-01]])

critical = 190.516, chi2_test_statistic = 109.426
Independent (fail to reject H0)

significance = 0.050, p = 0.999
Independent (fail to reject H0)

released,0,1.01.2004 00:00,1.02.1991 00:00,1.02.2002 00:00,1.02.2008 00:00,1.02.2013 00:00,1.03.1991 00:00,1.03.1996 00:00,1.03.2002 00:00,1.03.2013 00:00,...,9.11.1994 00:00,9.11.2001 00:00,9.11.2005 00:00,9.11.2007 00:00,9.11.2012 00:00,9.12.1988 00:00,9.12.1994 00:00,9.12.2005 00:00,9.12.2011 00:00,9.12.2016 00:00
director,,,,,,,,,,,,,,,,,,,,,
Barry Levinson,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Bruce Beresford,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Clint Eastwood,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dennis Dugan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Martin Scorsese,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Michael Apted,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Oliver Stone,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Other,9,1,2,2,2,3,0,2,3,2,...,1,2,1,3,1,1,1,2,2,2
Renny Harlin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Richard Donner,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Richard Linklater,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ridley Scott,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Rob Reiner,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Robert Zemeckis,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ron Howard,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Spike Lee,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Steven Soderbergh,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Steven Spielberg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tim Burton,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Wes Craven,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Woody Allen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Observed Values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

chi2_test_statistic, p, dof, expected

36241.10439846513

0.0010919718939522557

35420

array([[0.03064699, 0.00340522, 0.00681044, ..., 0.00681044, 0.00681044,
        0.00681044],
       [0.02553916, 0.00283768, 0.00567537, ..., 0.00567537, 0.00567537,
        0.00567537],
       [0.05107832, 0.00567537, 0.01135074, ..., 0.01135074, 0.01135074,
        0.01135074],
       ...,
       [0.03064699, 0.00340522, 0.00681044, ..., 0.00681044, 0.00681044,
        0.00681044],
       [0.03064699, 0.00340522, 0.00681044, ..., 0.00681044, 0.00681044,
        0.00681044],
       [0.07150965, 0.00794552, 0.01589103, ..., 0.01589103, 0.01589103,
        0.01589103]])

critical = 35858.925, chi2_test_statistic = 36241.104
Dependent (reject H0)

significance = 0.050, p = 0.001
Dependent (reject H0)

isprofit              0     1
director
Barry Levinson        5     7
Bruce Beresford       7     3
Clint Eastwood        8    12
Dennis Dugan          2     9
Martin Scorsese       5     5
Michael Apted         4     6
Oliver Stone          6     8
Other              1595  1646
Renny Harlin          8     4
Richard Donner        5     6
Richard Linklater     4     9
Ridley Scott          9     6
Rob Reiner            6     7
Robert Zemeckis       2    10
Ron Howard            8     9
Spike Lee             8     7
Steven Soderbergh     7    10
Steven Spielberg      5    14
Tim Burton            5     7
Wes Craven            4     8
Woody Allen          22     6

Observed Values

array([[   5,    7],
       [   7,    3],
       [   8,   12],
       [   2,    9],
       [   5,    5],
       [   4,    6],
       [   6,    8],
       [1595, 1646],
       [   8,    4],
       [   5,    6],
       [   4,    9],
       [   9,    6],
       [   6,    7],
       [   2,   10],
       [   8,    9],
       [   8,    7],
       [   7,   10],
       [   5,   14],
       [   5,    7],
       [   4,    8],
       [  22,    6]], dtype=int64)

chi2_test_statistic, p, dof, expected

32.22157475338656

0.04099378720033222

20

array([[   5.87400681,    6.12599319],
       [   4.89500568,    5.10499432],
       [   9.79001135,   10.20998865],
       [   5.38450624,    5.61549376],
       [   4.89500568,    5.10499432],
       [   4.89500568,    5.10499432],
       [   6.85300795,    7.14699205],
       [1586.47133939, 1654.52866061],
       [   5.87400681,    6.12599319],
       [   5.38450624,    5.61549376],
       [   6.36350738,    6.63649262],
       [   7.34250851,    7.65749149],
       [   6.36350738,    6.63649262],
       [   5.87400681,    6.12599319],
       [   8.32150965,    8.67849035],
       [   7.34250851,    7.65749149],
       [   8.32150965,    8.67849035],
       [   9.30051078,    9.69948922],
       [   5.87400681,    6.12599319],
       [   5.87400681,    6.12599319],
       [  13.70601589,   14.29398411]])

critical = 31.410, chi2_test_statistic = 32.222
Dependent (reject H0)

significance = 0.050, p = 0.041
Dependent (reject H0)

released,0,1.01.2004 00:00,1.02.1991 00:00,1.02.2002 00:00,1.02.2008 00:00,1.02.2013 00:00,1.03.1991 00:00,1.03.1996 00:00,1.03.2002 00:00,1.03.2013 00:00,...,9.11.1994 00:00,9.11.2001 00:00,9.11.2005 00:00,9.11.2007 00:00,9.11.2012 00:00,9.12.1988 00:00,9.12.1994 00:00,9.12.2005 00:00,9.12.2011 00:00,9.12.2016 00:00
rating,,,,,,,,,,,,,,,,,,,,,
0,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
G,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NC-17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NOT RATED,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Not specified,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
PG-13,0,1,0,0,1,1,0,2,0,1,...,0,1,0,0,1,0,0,0,0,0
R,0,0,2,2,1,2,1,0,3,1,...,1,1,1,2,0,0,2,1,2,2
UNRATED,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Observed Values

array([[9, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 2, ..., 1, 2, 2],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

chi2_test_statistic, p, dof, expected

16264.548918097264

6.47638321973948e-33

14168

array([[2.29852440e-02, 2.55391600e-03, 5.10783201e-03, ...,
        5.10783201e-03, 5.10783201e-03, 5.10783201e-03],
       [1.76220204e-01, 1.95800227e-02, 3.91600454e-02, ...,
        3.91600454e-02, 3.91600454e-02, 3.91600454e-02],
       [1.27695800e-02, 1.41884222e-03, 2.83768445e-03, ...,
        2.83768445e-03, 2.83768445e-03, 2.83768445e-03],
       ...,
       [3.06980704e+00, 3.41089671e-01, 6.82179342e-01, ...,
        6.82179342e-01, 6.82179342e-01, 6.82179342e-01],
       [4.29824064e+00, 4.77582293e-01, 9.55164586e-01, ...,
        9.55164586e-01, 9.55164586e-01, 9.55164586e-01],
       [3.32009081e-02, 3.68898978e-03, 7.37797957e-03, ...,
        7.37797957e-03, 7.37797957e-03, 7.37797957e-03]])

critical = 14446.016, chi2_test_statistic = 16264.549
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

isprofit         0    1
rating
0                9    0
G               26   43
NC-17            3    2
NOT RATED       16    8
Not specified    2    1
PG             213  303
PG-13          561  641
R              889  794
UNRATED          6    7

Observed Values

array([[  9,   0],
       [ 26,  43],
       [  3,   2],
       [ 16,   8],
       [  2,   1],
       [213, 303],
       [561, 641],
       [889, 794],
       [  6,   7]], dtype=int64)

chi2_test_statistic, p, dof, expected

41.314212130230835

1.820693238192019e-06

8

array([[  4.40550511,   4.59449489],
       [ 33.77553916,  35.22446084],
       [  2.44750284,   2.55249716],
       [ 11.74801362,  12.25198638],
       [  1.4685017 ,   1.5314983 ],
       [252.58229285, 263.41770715],
       [588.37968218, 613.62031782],
       [823.82945516, 859.17054484],
       [  6.36350738,   6.63649262]])

critical = 15.507, chi2_test_statistic = 41.314
Dependent (reject H0)

significance = 0.050, p = 0.000
Dependent (reject H0)

isprofit         0  1
released
0                9  0
1.01.2004 00:00  0  1
1.02.1991 00:00  2  0
1.02.2002 00:00  2  0
1.02.2008 00:00  2  0
...             .. ..
9.12.1988 00:00  0  1
9.12.1994 00:00  1  1
9.12.2005 00:00  0  2
9.12.2011 00:00  1  1
9.12.2016 00:00  1  1

[1772 rows x 2 columns]

Observed Values

array([[9, 0],
       [0, 1],
       [2, 0],
       ...,
       [0, 2],
       [1, 1],
       [1, 1]], dtype=int64)

chi2_test_statistic, p, dof, expected

1803.4698996751126

0.28997295194919154

1771

array([[4.40550511, 4.59449489],
       [0.48950057, 0.51049943],
       [0.97900114, 1.02099886],
       ...,
       [0.97900114, 1.02099886],
       [0.97900114, 1.02099886],
       [0.97900114, 1.02099886]])

critical = 1870.017, chi2_test_statistic = 1803.470
Independent (fail to reject H0)

significance = 0.050, p = 0.290
Independent (fail to reject H0)