In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/raw_training_data.csv')

In [3]:
df[['runtime','votes','score']]

      runtime   votes  score
0          89  299174    8.1
1         103  264740    7.8
2         110  236909    6.9
3         137  540152    8.4
4          90   36636    6.9
...       ...     ...    ...
3519       92    9450    4.4
3520       90   17862    6.5
3521       88    7227    6.5
3522       92    4556    6.1
3523       76   36333    6.5

[3524 rows x 3 columns]

In [8]:
df2 = pd.DataFrame(df.dtypes,columns=['feature'])

In [10]:
[e for e in df2.index if df2.loc[e].feature=='object']

['company',
 'country',
 'director',
 'genre',
 'name',
 'rating',
 'released',
 'star',
 'writer',
 'adult',
 'imdb_id',
 'original_title',
 'overview',
 'tagline',
 'title',
 'genres_edited',
 'spoken_languages_edited',
 'production_countries_edited',
 'keywords_edited']

In [16]:
categorical_features = ['company','country','director','genre','rating','released','star','year',
                        'writer','adult','original_title','overview','tagline','title','genres_edited',
                        'spoken_languages_edited','production_countries_edited','keywords_edited']
continuous_features = ['budget','runtime','score','votes','popularity']
target_features = ['isprofit','profitability_ratio']

In [22]:
df[target_features]

      isprofit  profitability_ratio
0            1             5.535927
1            1            10.689395
2            1            10.986707
3            1             3.603257
4            1             1.062735
...        ...                  ...
3519         1             1.683210
3520         1             3.671188
3521         0            -0.732402
3522         1             1.351200
3523         1             0.078571

[3524 rows x 2 columns]

In [11]:
[e for e in df2.index if df2.loc[e].feature!='object']

['Unnamed: 0',
 'budget',
 'gross',
 'runtime',
 'score',
 'votes',
 'year',
 'isprofit',
 'profitability_ratio',
 'profitability_ratio_bucket',
 'id',
 'popularity',
 'year_released']